h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
}

section {
  // margin-top: 4rem;
  h2,
  h5 {
    text-align: center;
    color: $color-light;
  }
  h2 {
    color: $color-primary;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    h2 {
      margin-bottom: 0;
    }
  }
}
