@import "styles/colors.scss";

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: $color-bg;

  &__navigation {
    a {
      font-size: 24px;
      letter-spacing: 3px;
      text-decoration: none;
      font-weight: bold;
      color: $color-white;
      transition: all 400ms ease;
      &:hover {
        border-bottom: 2px solid $color-primary;
        color: $color-primary;
      }
      &.active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}

.mobile-nav {
  display: none;
  &__button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }

  .mobile-nav {
    display: flex;
    &__button {
      display: block;
    }
  }

  .logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
