@import "styles/colors.scss";

.footer {
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $color-primary;

  &__socials {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 16px;

    a {
      background-color: $color-bg;
      color: $color-white;
      padding: 10px;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;
      transition: all 400 ease;

      &:hover {
        background-color: transparent;
        color: $color-bg;
        border-color: $color-bg;
      }
    }
  }
  &__text {
    color: $color-bg;
    margin-bottom: 5px;
  }
}
