@import "styles/colors.scss";

.footer {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0;
  background-color: $color-primary;
  grid-row-start: 4;
}
.navigation {
  &footer__nav {
    color: red;
  }
}
