@import "styles/colors.scss";

.mobile-nav {
  display: flex;
  position: absolute;
  top: 75px;
  height: 100vh;
  width: 100%;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $color-bg;
  border-top: 2px solid $color-light;
  z-index: 10;

  a {
    margin-top: 20px;
    font-size: 40px;
    color: $color-white;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $color-primary;
      color: $color-primary;
    }

    &.active {
      color: $color-primary;
      border-bottom: 2px solid $color-primary;
    }
  }
  &__button {
    display: block;
    position: absolute;
    font-size: 24px;
    right: 10px;
    top: 20px;
    padding: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &.closed {
    display: none;
  }
}
